<div class = "loginForm">
  <br>
  <mat-slide-toggle *ngIf="login" color="primary" [(ngModel)]="login">Conectare</mat-slide-toggle>
  <mat-slide-toggle *ngIf="!login" color="primary" [(ngModel)]="login">Inregistrare</mat-slide-toggle>
  <br>
  <mat-form-field *ngIf="!login" class="form-text">
    <mat-label>Nume</mat-label>
    <input type="text" matInput [formControl]="nameFormControl" placeholder="Nume" [(ngModel)]="user.uname">
    <mat-error *ngIf="nameFormControl.hasError('required')">
      Numele este un camp <strong>obligatoriu</strong>
    </mat-error>
  </mat-form-field>
  <br *ngIf="!login">
  <mat-form-field class="form-text">
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" placeholder="Email" [(ngModel)]="user.uemail">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Va rugam sa introduceti o adresa de mail valida
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email-ul este un camp <strong>obligatoriu</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field class="form-text">
    <mat-label>Parola</mat-label>
    <input *ngIf="login" type="password" autocomplete="current-password" matInput [formControl]="passwordFormControl" placeholder="Parola" [(ngModel)]="password">
    <input *ngIf="!login" type="password"  autocomplete="new-password" matInput [formControl]="passwordFormControl" placeholder="Parola" [(ngModel)]="password">
    <mat-error *ngIf="passwordFormControl.hasError('minLength') && !passwordFormControl.hasError('required')">
      Parola trebuie sa contina minim 8 caractere
    </mat-error>
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      Parola este un camp <strong>obligatoriu</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <br>
  <button *ngIf="login" (click)="logIn()" mat-raised-button color="primary">Conectare</button>
  <button *ngIf="!login" (click)="signup()" mat-raised-button color="primary">Inregistrare</button>
</div>
