<button (click)="logout()" style="float: right;" mat-raised-button color="warn">Deconectare</button>
<button (click)="getRooms()" style="float: right;" mat-raised-button color="warn">Reincarcare</button>

<p>
  Irom {{this.userSession.getUser().uwarehouse.wiron}}
  IromR {{this.userSession.getUser().uwarehouse.wironr}}
  Herb {{this.userSession.getUser().uwarehouse.wherb}}
  HerbR {{this.userSession.getUser().uwarehouse.wherbr}}
</p>

<br><br><br><br>
<mat-form-field class="form-text">
  <mat-label>Nume Camera</mat-label>
  <input type="email" matInput placeholder="Nume Camera" [(ngModel)]="rName">
</mat-form-field>
<button (click)="createPvpRoom()" mat-raised-button color="primary">Creare Camera</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nume Eveniment </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="playerName">
    <th mat-header-cell *matHeaderCellDef> Nume Player </th>
    <td mat-cell *matCellDef="let element"> {{element.playerName}} </td>
  </ng-container>

  <!-- Buttons Column -->
  <ng-container matColumnDef="button">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button (click)="joinRoom(element.id)" mat-raised-button color="primary">Intra in Camera</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
